*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.card{
    max-width: 350px;
    font-size: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    margin: 10px auto;
    margin-top: 10px;
    
}

.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.cal-head #result{
    width: 335px;
    height: 100px;
    padding: 0 5px;
    text-align: right;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn{
    width: 87px;
    height: 70px;
    background-color: #1f2326;
    color: white;
}

.btn-style{
    background-color: rgb(188, 51, 74);
}

.btn:hover{
    background-color: pink;
}